<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Alterar Senha</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Alterar Senha
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		<form method="get" class="form-vertical  js-form-loading">
			<div class="form-group">
				<label for="input-produto-nome">Senha Antiga:</label>
				<input id="input-produto-nome" type="text" class="form-control"/>
			</div>
		
			<div class="form-group">
				<label for="input-produto-nome">Nova Senha:</label>
				<input id="input-produto-nome" type="text" class="form-control"/>
			</div>
			
			<div class="form-group">
				<label for="input-produto-nome">Confirmar Nova Senha:</label>
				<input id="input-produto-nome" type="text" class="form-control"/>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a class="btn btn-primary" th:href="@{/partymanager/listagemEventos}">Cancelar</a>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>