<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Eventos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Eventos
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/partymanager/novoEvento}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo evento</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		
		<form method="get" class="form-vertical  js-form-loading">
			<div class="form-group">
				<label for="input-produto-nome">Descrição</label>
				<input id="input-produto-nome" type="text" class="form-control"/>
			</div>
	
			
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">
					Pesquisar
				</button>
			</div>
	
		</form>
			
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-1">Data</th>
						<th class="text-right col-md-1">Horário</th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento : ${eventos}">
						<td class="text-center" th:text="${evento.id_evento}">1</td>
	   					<td th:text="${evento.descricao}"></td>
						<td class="text-center" th:text="${{evento.data}}"></td>
						<td class="text-center" th:text="${{evento.horario}}"></td>
						<td>
						
							<div class="btn-group">
	   							<a class="btn btn-link btn-xs" th:href="@{/partymanager/listagemEventos/{id_evento}(id_evento=${evento.id_evento})}">
	   								<span class="glyphicon glyphicon-pencil"></span>
	   							</a>
								
								<button class="btn  btn-default btn-xs">
									<i class="fa  fa-trash"></i>
								</button>
								
								<a th:href="@{/partymanager/novoConvidado}">
									<button class="btn  btn-default btn-xs">
										<i class="fa  fa-users"></i>
									</button>
								</a>
								
								<a th:href="@{/partymanager/novoPresente}">
									<button class="btn  btn-default btn-xs">
										<i class="fa  fa-gift" ></i>
									</button>
								</a>
								
								<a th:href="@{/partymanager/novoItemOrcamento}">
									<button class="btn  btn-default btn-xs">
										<i class="fa  fa-shopping-cart" ></i>
									</button>
								</a>
							</div>
							
						</td>
					</tr>
					<tr>
	   					<td colspan="6" th:if="${#lists.isEmpty(eventos)}">Nenhum evento foi encontrado</td>
	   				</tr>
				</tbody>
			</table>
		</div>
			
		
	</div>

</section>
</body>
</html>